*~
*.class
*/build/*
*/bin/*
*/doc/*
*/.metadata/*
.DS_Store
workspace/RPG/.metadata/.lock
workspace/RPG/.metadata/.log
workspace/RPG/.metadata/.mylyn/.taskListIndex/segments.gen
workspace/RPG/.metadata/.mylyn/.taskListIndex/segments_1
workspace/RPG/.metadata/.mylyn/.tasks.xml.zip
workspace/RPG/.metadata/.mylyn/repositories.xml
workspace/RPG/.metadata/.mylyn/repositories.xml.zip
workspace/RPG/.metadata/.mylyn/tasklist 2.xml
workspace/RPG/.metadata/.mylyn/tasklist.xml
workspace/RPG/.metadata/.mylyn/tasks.xml.zip
workspace/RPG/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
workspace/RPG/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/RPG/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
workspace/RPG/.metadata/.plugins/org.eclipse.core.resources/.root/5.tree
workspace/RPG/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
workspace/RPG/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/RPG/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
workspace/RPG/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload1.csv
workspace/RPG/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
workspace/RPG/.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
workspace/RPG/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
workspace/RPG/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
workspace/RPG/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
workspace/RPG/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
workspace/RPG/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
workspace/RPG/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
workspace/RPG/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
workspace/RPG/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.0.200.20111228-1245.xml
workspace/RPG/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.1.0.20120530-0009.xml
workspace/RPG/.metadata/.plugins/org.eclipse.team.cvs.core/.running
workspace/RPG/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
workspace/RPG/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
workspace/RPG/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
workspace/RPG/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
workspace/RPG/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_gwt.png
workspace/RPG/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swing.png
workspace/RPG/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swt.png
workspace/RPG/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_xwt.png
workspace/RPG/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkits.xml
workspace/RPG/.metadata/version.ini